html, body {
    margin: 0;
    height: 100%;
}

h1, h2 {
    text-align: center;
}

#chromecast_display {
    display: none;
}

#hdmi_display {
    display: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
